body {
  background-image: url("https://res.cloudinary.com/dvz2vfssk/image/upload/v1652893920/asset-1_vo0c8n.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
